.trainingLearnPage{
    margin-top: 90px;
}

.trainingLearnPage h2{
    text-align: center;
    margin-bottom: 50px;
}

.trainingLearnPage button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.cards input{
    width: 560px;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
