.to-main{
    background-color: #974DFF;
    rotate: 90deg;
    display: inline-block;
    padding: 6px 52px;
    border-radius: 50px 50px 0 0;
    position: fixed;
    left: -115px;
    top: 305px;
    z-index: 1;
}

.to-main a{
    color: #ffffff;
    text-decoration: none;
}