# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend ===
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/package-lock.json

# testing
/frontend/coverage

# production
/frontend/build


# backend ===
/backend/node_modules
/backend/package-lock.json
/backend/.env
