.trainings{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.training-block{
    width: 560px;
    display: flex;
    padding: 19px 30px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}
.training-block span{
    margin-top: 30px;
    margin-bottom: 30px;
}

.training-block a{
    margin-top: auto;
}

.choose-module{
    margin-top: 90px;
    text-align: center;
}

.choose-module h2{
    margin-bottom: 50px;
}

.choose-module .choose-module__modules{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.change-count img{
    cursor: pointer;
}

.change-count .btn{
    cursor: auto;
    padding: 12px 36px;
    font-size: 48px;
    font-weight: 700;
}

.change-count{
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-words{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.training-page{
    margin-top: 90px;
}

.training-page h2{
    text-align: center;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    padding: 75px 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #E2E2FF;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    overflow-wrap: anywhere;
}

.training-page .btn{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}