.trainings{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.training-block{
    width: 560px;
    display: flex;
    padding: 19px 30px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}
.training-block span{
    margin-top: 30px;
    margin-bottom: 30px;
}

.training-block a{
    margin-top: auto;
}