.folders{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}

.folder{
    composes: folder from "../../FoldersAndModules/Folders.module.css";
}

.folderAdd{
    composes: folderAdd from "../../components/Add/Add.module.css"
}