.folders{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 102px; /* 90+12 */
}

.stylesLink{
    display: block;
    width: 100%;
}

.stylesNavLink{
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
}

.folder{
    height: 100%;
}