.modules{
    composes: folders from "../FoldersPage/FoldersPage.module.css";
}

.module{
    composes: module from "../../FoldersAndModules/Folders.module.css";
}

.moduleAdd{
    composes: moduleAdd from "../../components/Add/Add.module.css";
}