.folder, .module{
    width: 560px;
    padding: 30px 38px 60px 38px;
    background-color: #FFF4E3;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    overflow-wrap: anywhere;
    position: relative;
}

.module{
    background-color: #E2E2FF;
}

.folderImg{
    width: 200px;
    height: 200px;
}

.folder h3, .module h3{
    text-align: center;
}