.lastModules {
    margin-top: 180px;
    position: relative;
}

.lastModules img {
    top: -120px;
    position: absolute;
    rotate: -30deg;
}

.lastModules h2 {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
}


