.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.link span{
    margin-left: 10px;
}
.link img{
    height: 48px;
    width: 48px;
}

.link::after{
    content: "";
}