.folder, .module{
    width: 560px;
    padding: 30px 38px 60px 38px;
    background-color: #FFF4E3;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.module{
    background-color: #E2E2FF;
}

.folder img, .module img{
    width: 200px;
    height: 200px;
}

.folder h3, .module h3{
    text-align: center;
}

.folderAdd, .moduleAdd{
    background-color: #FFF4E3;
    height: 15px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleAdd{
    background-color: #E2E2FF;
}

.folderAdd::after, .moduleAdd::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #FFF4E3;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: -1;
}

.moduleAdd::after{
    background-color: #E2E2FF;
}