.footer {
    width: 100%;
    margin-top: 150px;
    position: relative;
    color: #ffffff;
}

.footerImg{
    width: calc(1140px + 20px + (100vw - 1140px) / 2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.footerWrapper {
    display: flex;
    align-items: center;
    height: 130px;
}